*{
    box-sizing: border-box;
    
  }
  
  body{
    color: white;
    font-size: 30px;
    background:url("images/color-background.jpg");
    font-family: 'Kirang Haerang', cursive;
  }

  *html .row {height: 1%;}

  /*====================================================================================*/

  .links{
      text-align: center;
      position: relative;
      top: 190px;
  }
  
  .links li{
    list-style: none;
  }
  
  .links p{
    color: #aa3b8a;
    text-decoration: underline;
    font-size: 0.8em;
  }
  
  .links a{
    padding: 5px;
  }
  
  #q{
    font-size: 0.7em;
  }
  
  #q p{
    text-decoration: none;
    display: inline;
  }
  
  #rights{
    color: #aa3b8a;
    font-size: 0.4em;
    text-align: right;
    padding-right: 5px;
    padding-left: 50px;
  }
  
  
  

  /*====================================================================================*/

  .inner-content{
    background: #fff;
    min-height: 600px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.9;
  }

  #welcoming{
      text-align: center;
      color: #aa3b8a;
  }
  
  .content{
    width: 50%;
    margin: 0 auto;
    padding-top: 10%;
    
  }

  #logout{
      position: relative;
      left: 45%;
      text-decoration: none;
      color: #aa3b8a
  }

  #logout:hover{
    position: relative;
    left: 45%;
    text-decoration: underline;
    color: blue
}

  #joy{
      color: #aa3b8a;
      text-align: center;

  }

  